{deps, [
	{meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}},
	{bullet, ".*", {git, "git://github.com/extend/bullet.git", "master"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "master"}}
]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.